<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link
      href="/static/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="/static/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="css/flexslider.css"
      type="text/css"
      media="screen"
    />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
    <meta charset="utf-8">
    <style>
      .translated-ltr {
          margin-top: -40px;
      }
      .goog-te-banner-frame {
          display: none;
          margin-top: -20px;
      }
      .goog-logo-link {
          display: none !important;
      }
      .goog-te-gadget {
          color: transparent !important;
      }
      #google_element{
          right: 0px;
          bottom:40px;
          position:fixed;
      }
  </style>
  </head>
  <body>
    <!-- header -->
    <div id="google_element"></div>
        <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
        <script>
            function loadGoogleTranslate(){
                new google.translate.TranslateElement("google_element");
            }
        </script>
    
    <div class="banner1">
      <div class="container">
        <div class="header" style="display: flex; justify-content: center">
          <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-1">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">about</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/contact">Patient</a></li>
              <li><a href="/doctor">Doctor</a></li>
              <div class="clearfix"></div>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- script-for-nav -->
        <script>
          $("span.menu").click(function () {
            $(".head-nav ul").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <!-- script-for-nav -->
        <div class="logo1">
          <h1>
            <b
              >About</b
            >
          </h1>
        </div>
      </div>
    </div>
    <!-- header -->
    <!-- about -->
    <div class="main_bg">
      <div class="container">
        <div class="main">
          <div class="about">
            <div class="col-md-5 cont-grid-img img_style">
              <a href="details.html"
                ><img
                  src="/static/images/22.jpeg"
                  class="img-responsive"
                  alt=""
                  style="height: 30vh; width: 30vw"
              /></a>
            </div>
            <div class="col-md-7 cont-grid">
              <div class="abt-para">
                <h4>Pioneering Dermatological Diagnoses with Artificial Intelligence</h4>
                <p class="para">
                  Welcome to AISkinXpert, where innovation intersects with healthcare to redefine the landscape of dermatological diagnostics. In a world where the prevalence of skin diseases is on the rise and the shortage of dermatologists persists, AISkinXpert emerges as a beacon of hope, leveraging the power of cutting-edge artificial intelligence to bridge the gap between patients and healthcare solutions.
                </p>
                <!-- <a class="more" href="#">Read More</a> -->
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="about-p">
              <h4>Our Vision</h4>
              <p class="para top">
              At AISkinXpert, we envision a future where access to preliminary dermatological diagnoses is not confined to geographical boundaries or constrained by resource limitations. Our mission is to empower individuals, regardless of location or background, with a tool that facilitates early detection, informed decision-making, and proactive skin health management.
              </p>
              <h4>The Technology Behind AISkinXpert</h4>
              <p class="para">
              AISkinXpert harnesses the potential of advanced technologies, specifically Convolutional Neural Networks (CNN) and MobileNet architecture. These sophisticated algorithms have been meticulously trained on diverse skin image datasets, ensuring a high level of accuracy in disease classification. As we continue to evolve, our commitment to staying at the forefront of technological advancements remains unwavering, with regular updates to enhance diagnostic capabilities.
              </p>

              <!-- <a class="more" href="#">Read More</a> -->
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- about -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Services</h4>
            <ul>
              <li><a href="/about">about us</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="#">Risk Detection</a></li>
              <li><a href="#">How It Works</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Community</h4>
            <ul>
              <li><a href="#">Github</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Issues</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">support</a></li>
              <li><a href="#">Troubleshooting</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
